@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --rosa-bebe: #fdc5f5ff;
    --lilas: #f7aef8ff;
    --lavanda: #b388ebff;
    --azul: #8093f1ff;
    --azul-bebe: #72ddf7ff;
    --preto: #000000;
    --fonte-primaria:"Roboto Slab", serif;
    --fonte-segundaria:"Dancing Script", cursive;
}