@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

*{
   margin:0;
   padding: 0;
   font-weight: 400;
}

:root{
    --rosa-bebe: #fdc5f5ff;
    --lilas: #f7aef8ff;
    --lavanda: #b388ebff;
    --azul: #8093f1ff;
    --azul-bebe: #72ddf7ff;
    --preto: #000000;
    --fonte-primaria:"Roboto Slab", serif;
    --fonte-segundaria:"Dancing Script", cursive;
}
body{
    background-color: var(--lavanda);
    color: var(--azul-bebe);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-segundaria);
}
.caixa.principal{
    background-color: var(--rosa-bebe);
    width: 90%;
    text-align: center;
    padding: 20px;
}
.titulo{
    font-family: var(--fonte-primaria);
}